<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yupont.redis_mybatis.dao.LoginDao">
    <resultMap id="UserMap" type="com.yupont.mybatis.domain.User">
        <result column="id" property="id" />
        <result column="username" property="userName" />
        <result column="password" property="passWord" />
        <result column="age" property="age" />
    </resultMap>

    <select id="loginUser" resultMap="UserMap" parameterType="java.lang.String">
        select
        id, username, password, age
        from user
        where username=#{userName} and password=#{passWord}

    </select>
</mapper>